{% extends "main/base.html" %} {% load static %} 
{% block additional_styles %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock additional_styles %}

{% block main_content %}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h2>Наш мерч</h2>
                    </header>
                    <div class="row">
                        {% for product in merch %}
                        <div class="h-100 col-4 col-6-medium col-12-small">
                            <section class="box">
                                <a href="#" class="image featured">
                                    
                                    {% if product.image %}
                                        <img src="{{product.image.url}}" height="300" alt="Изображения пока нет" />
                                    {% else %}
                                        <img src="{% static "images/no_image.jpg" %}" height="300" alt="Изображения пока нет" />  
                                    {% endif %}
                                </a>
                                <header>
                                    <h3>{{product.name}}</h3>
                                </header>
                                <p>{{product.description}}</p>
                                <p>id: #{{product.display_id}}</p>

                                {% if product.discount != 0 %}
                                    <div class="row">
                                        <p class="old-price">{{product.price}} Р</p>
                                        <p class="sale-price">{{product.final_price}} Р</p>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <p class="base-price">{{product.final_price}} Р</p>
                                    </div>
                                {% endif %}


                                
                                
                                <footer>
                                    <ul class="actions">
                                        <li>
                                            <a href="{% url "merch:product" %}" class="button alt">Подробнее</a>
                                        </li>
                                        <li>
                                            <a href="#" class="button alt">
                                                <i class="fa fa-opencart" aria-hidden="true"></i>
                                            </a>
                                            
                                        </li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}
