{% load static %} 

<html>

<head>
      <title></title>
      <link rel="stylesheet" href="{% static "assets\css\auth.css" %}">
</head>

<body>
      <div class="main">
            <h1></h1>
            <h3>Введите свои данные</h3>
            <form action="{% url "users:login"%}" method="post">
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                        <p>{{form.non_field_errors}}</p>
                  {% endif %}

                  <label for="id_username">
                        Имя пользователя:
                  </label>
                  <input type="text" 
                         id="id_username" 
                         name="username" 
                         placeholder="Введите свой псевдоним" required
                         value="{% if form.username.value %}{{form.username.value}}{% endif %}">

                  <label for="id_password">
                        Пароль:
                  </label>
                  <input type="password"
                         id="id_password" 
                         name="password"
                         placeholder="Введите пароль" required>

                  <div class="wrap">
                        <button type="submit">
                              Вход
                        </button>
                  </div>
            </form>
            <a href="{% url "main:index" %}"
                     style="text-decoration: none;">
                        Обратно на сайт
                  </a>
            <p>Не зарегестрированы?
                  <a href="{% url "users:register" %}"
                     style="text-decoration: none;">
                        Создайте аккаунт
                  </a>
            </p>
      </div>
</body>

</html>