{% load static %} 

<html>

<head>
      <title>HTML Login Form</title>
      <link rel="stylesheet" href="{% static "assets\css\login.css" %}">
</head>

<body>
      <div class="main">
            <h1></h1>
            <h3>Введите свои данные</h3>
            <form action="">
                  <label for="first">
                        Имя пользователя:
                  </label>
                  <input type="text" 
                         id="first" 
                         name="first" 
                         placeholder="Введите свой псевдоним" required>

                  <label for="password">
                        Пароль:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Введите свой пароль" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Вход
                        </button>
                  </div>
            </form>
            <a href="#"
                     style="text-decoration: none;">
                        Обратно на сайт
                  </a>
            <p>Не зарегестрированы?
                  <a href="#"
                     style="text-decoration: none;">
                        Создайте аккаунт
                  </a>
            </p>
      </div>
</body>

</html>